@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.display {


}

.result {
    background: ;
    border-bottom: 1px solid #a8bac1;
    padding: 10px;
}

.result:hover {
    background: #eff2f4;
}

.nutritional-info {
    display: none;
    background: ;
    border-bottom: 1px solid #a8bac1;
}

.nutritional-info {
    margin: 0 0 5px 0;
}

.headings {
    background: #a8bac1;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: ;
    padding: 20px;
}

.buttons {
    background: ;
}

.buttons > button {
    display: inline-block;
    text-decoration: none;
    background: #57c1bc;
    color: #FFF;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5px;
    font-size: 20px;
    border-style: none;
    
}