* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display {


}

.result {
    background: red;
}

.nutritional-info {
    display: none;
    background: red;
    
}

.headings {
    background: gray;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: ;
}

button {
    padding: 5px;
}